button {
  min-width: 4rem;
  padding: 0.18rem 0.5rem;
  border-radius: 0.3rem;
  border: none;
  margin: 0;
  box-shadow: var(--button-shadow);

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &[disabled] {
    opacity: 0.5;
  }
}

button.secondary {
  background-color: var(--button);
  color: var(--foreground);
  border-top: var(--button-border-top);
  border-bottom: var(--button-border-bottom);

  &:active {
    background-color: var(--button-active);
    border-top: var(--button-border-top-active);
  }

  &[disabled] {
    background-color: var(--button);
    border-top: var(--button-border-top);
  }
}

button.primary {
  background: var(--button-primary);
  color: var(--button-primary-text);
  border-top: var(--button-primary-border-top);
  border-bottom: var(--button-primary-border-bottom);

  &:active {
    background: var(--button-primary-active);
    border-top: var(--button-primary-border-top-active);
  }

  &[disabled] {
    background: var(--button-primary);
    border-top: var(--button-primary-border-top);
  }
}

.buttons-container {
  padding: 0;
  margin: 0;
  margin-top: 1.15rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.625rem;
}
