@import './reset.css';
@import './variables.css';
@import './typography.css';
@import './forms.css';
@import './buttons.css';
@import './links.css';
@import './cards.css';

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

header {
  /* ? Make window draggable even with hidden title bar */
  -webkit-app-select: none;
  -webkit-app-region: drag;

  background-color: transparent;
  height: 1.75rem;
  width: 100%;
}

main {
  padding: 1rem;
}
