@import './reset.css';
@import './variables.css';
@import './typography.css';
@import './forms.css';
@import './buttons.css';

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

header {
  /* ? Make window draggable even with hidden title bar */
  -webkit-app-select: none;
  -webkit-app-region: drag;

  background-color: transparent;
  height: 1.75rem;
  width: 100%;
}

main {
  padding: 1rem;
}

.card {
  padding: 0 0.625rem;
  margin: 0;
  margin-top: 0.625rem;
  display: flex;
  flex-direction: column;
  background-color: var(--card);
  border: var(--card-border);
  border-radius: 0.35rem;

  /* Style every child */
  & > * {
    padding: 0.6rem 0;
  }

  /* Style every child except last */
  & > *:not(:last-child) {
    border-bottom: var(--card-separator);
  }
}
