:root {
  --background: rgb(234, 235, 237);
  --foreground: rgb(39, 39, 39);

  /* INPUT */
  --input: rgb(222, 223, 224);
  --input-border: 1px solid rgb(215, 216, 217);
  --input-border-bottom: var(--input-border);
  --input-focus-outline: 3px solid rgb(132, 163, 230);
  --input-placeholder: rgb(181, 181, 182);

  /* BUTTON */
  --button: #fff;
  --button-border-top: 1px solid rgb(219, 220, 222);
  --button-border-bottom: 1px solid rgb(194, 195, 197);
  --button-shadow: 0 0 0 1px rgb(228, 228, 230);
  --button-primary: linear-gradient(
    180deg,
    rgb(72, 142, 247),
    rgb(51, 121, 246)
  );
  --button-primary-text: rgb(252, 253, 255);
  --button-primary-border-top: 1px solid rgb(73, 143, 247);
  --button-primary-border-bottom: 1px solid rgb(51, 121, 246);

  /* BUTTON ACTIVE */
  --button-active: rgb(240, 240, 240);
  --button-border-top-active: 1px solid rgb(219, 220, 222);
  --button-primary-active: linear-gradient(
    180deg,
    rgb(57, 123, 227),
    rgb(41, 101, 227)
  );
  --button-primary-border-top-active: 1px solid rgb(56, 122, 227);

  /* TOGGLE SWITCH */
  --switch: linear-gradient(0deg, rgb(52, 120, 243), rgb(70, 139, 244));
  --switch-off: rgb(207, 207, 208);
  --switch-slider: #fff;
  --switch-active: rgb(48, 111, 227);
  --switch-off-active: rgb(193, 194, 195);

  /* SELECT */
  --select-hover: #fff;
  --select-border: 1px solid rgb(215, 216, 218);
  --select-border-bottom: 1px solid rgb(191, 191, 193);
  --select-icon: url('images/select.png');
  --select-icon-hover: url('images/select-hover.png');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(37, 39, 42);
    --foreground: rgb(222, 222, 223);

    /* INPUT */
    --input: rgb(49, 51, 53);
    --input-border: 1px solid rgb(56, 58, 60);
    --input-border-bottom: 1px solid rgb(79, 83, 84);
    --input-focus-outline: 3px solid rgb(57, 103, 144);
    --input-placeholder: rgb(102, 104, 104);

    /* BUTTON */
    --button: rgb(92, 93, 95);
    --button-border-top: 1px solid rgb(111, 113, 114);
    --button-border-bottom: 1px solid rgb(31, 33, 35);
    --button-shadow: 0 0 0 1px rgb(35, 37, 40);
    --button-primary: linear-gradient(
      180deg,
      rgb(49, 104, 222),
      rgb(42, 93, 198)
    );
    --button-primary-text: rgb(221, 229, 247);
    --button-primary-border-top: 1px solid rgb(81, 131, 228);
    --button-primary-border-bottom: 1px solid rgb(23, 24, 27);

    /* BUTTON ACTIVE */
    --button-active: rgb(116, 117, 119);
    --button-border-top-active: 1px solid rgb(134, 135, 136);
    --button-primary-active: linear-gradient(
      180deg,
      rgb(78, 158, 235),
      rgb(70, 145, 223)
    );
    --button-primary-border-top-active: 1px solid rgb(104, 176, 240);

    /* TOGGLE SWITCH */
    --switch: linear-gradient(0deg, rgb(45, 93, 199), rgb(50, 103, 221));
    --switch-off: rgb(62, 64, 66);
    --switch-slider: rgb(201, 202, 202);
    --switch-active: rgb(75, 151, 229);
    --switch-off-active: rgb(75, 76, 78);

    /* SELECT */
    --select-hover: rgb(94, 95, 98);
    --select-border: 1px solid rgb(113, 114, 116);
    --select-border-bottom: 1px solid rgb(34, 35, 38);
    --select-icon: url('images/select-dark.png');
    --select-icon-hover: url('images/select-dark-hover.png');
  }
}
